@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100vw;
}
body{
    background-color: rgb(201, 198, 198);
}
header{
    margin: 0px;
    width: 100vw;
    height: 100px;
    background-color:#424242;
}
header h1{
    text-align: center;
    font-size: 2em;
    color: aliceblue;
    padding-top: 30px ;
        
}
span#burguer{
    cursor: pointer;
    width: 100%;
}
div.menu-curso{
    background-color:#8d60dc;
    margin: auto;
    text-align: center;
    color: white;
    width: 300px;
    padding:5px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.593);
    overflow: hidden;
}
div.menu-curso ul{
    display: none;
    list-style-type: none;
    background-color:#c8bbde
}
div.menu-curso li{
    font-size: 1.1em;
    font-weight: 600;
    padding: 20px;
    border: 1px solid white;
    cursor: pointer;
}
div.menu-curso a{
    text-decoration: none;
    color:white
}

div.menu-curso li:hover{
    background-color: #8d60dc;
}
