@charset "UTF-8";
section{
    width: 90vw;
    margin: 20px auto;
}
article{
    text-align: justify;
    text-indent: 20px;
    line-height: 1.8em;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.237);
}
article h1,h2{
    font-family: 'Mirza', cursive;
    text-align: center;
}
article p{
    margin-top: 20px;
}
article a.link-cursoemvideo{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
article a.link-cursoemvideo:hover{
    color: rgb(140, 140, 233);
    text-decoration: underline;
}

@media screen and (min-width:768px) {
    section{
        max-width: 900px;
    }
    
}